<app-navbar></app-navbar>



    <ul class="nav nav-tabs justify-content-center nav-pills nav-fill flex-column flex-sm-row">

      <li class="nav-item">
        <a class="colorfuente nav-link " routerLink="/gallery">Album cover Art</a>
      </li>
      <li class="nav-item">
        <a class="colorfuente nav-link active" routerLink="/collages">Collages</a>
      </li>
      <li class="nav-item">
        <a class="colorfuente nav-link" routerLink="/photography">Photography</a>
      <li class="nav-item">
          <a class="colorfuente nav-link" routerLink="/scapes">Scapes</a>
      </li>
    </ul>


    <!-- <div class="contenedordecollage1">
    <figure class="figure tamañosimagenes">
      <img src="../../../assets/collages/2.jpeg" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption text-center">PLASTER</figcaption>
    </figure>
    <figure class="figure tamañosimagenes">
        <img src="../../../assets/collages/3.jpeg" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-center">FAKE</figcaption>
      </figure>
    <figure class="figure tamañosimagenes">
        <img src="../../../assets/collages/5.png" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-center">SPILL</figcaption>
      </figure>
      <figure class="figure tamañosimagenes">
        <img src="../../../assets/collages/DIA 23 - INK.jpg" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-center">A CLOUD INK</figcaption>
      </figure>
      <figure class="figure tamañosimagenes">
        <img src="../../../assets/collages/12.png" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-center">REMEMBER</figcaption>
      </figure>
      <figure class="figure tamañosimagenes">
        <img src="../../../assets/collages/28.png" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-center">CURTAINS</figcaption>
      </figure>
      <figure class="figure tamañosimagenes">
        <img src="../../../assets/collages/DIA 12 - NEWSPAPERS.jpg" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-center">FASHION</figcaption>
      </figure>
      <figure class="figure tamañosimagenes">
        <img src="../../../assets/collages/29.png" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-center">CONCEPTUAL FRAGILITY</figcaption>
      </figure>
      <figure class="figure tamañosimagenes">
        <img src="../../../assets/collages/4.jpeg" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-center">SCULPTURE</figcaption>
      </figure>
      <figure class="figure tamañosimagenes">
        <img src="../../../assets/collages/9.png" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-center">A WRONG WAY</figcaption>
      </figure>
      <figure class="figure tamañosimagenes">
        <img src="../../../assets/collages/5.jpeg" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-center">ENCOUNTER</figcaption>
      </figure>
      <figure class="figure tamañosimagenes">
        <img src="../../../assets/collages/26.png" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-center">FAVORITE</figcaption>
      </figure>
    </div>

  -->

  <section class="collages-section">
    <div class="collages-container">
      <figure class="collage-item">
        <img src="../../../assets/collages/2.jpeg" class="collage-img" alt="PLASTER">
        <figcaption class="collage-caption">PLASTER</figcaption>
      </figure>
      <figure class="collage-item">
        <img src="../../../assets/collages/3.jpeg" class="collage-img" alt="FAKE">
        <figcaption class="collage-caption">FAKE</figcaption>
      </figure>
      <figure class="collage-item">
        <img src="../../../assets/collages/5.png" class="collage-img" alt="SPILL">
        <figcaption class="collage-caption">SPILL</figcaption>
      </figure>
      <figure class="collage-item">
        <img src="../../../assets/collages/DIA 23 - INK.jpg" class="collage-img" alt="A CLOUD INK">
        <figcaption class="collage-caption">A CLOUD INK</figcaption>
      </figure>
      <figure class="collage-item">
        <img src="../../../assets/collages/12.png" class="collage-img" alt="REMEMBER">
        <figcaption class="collage-caption">REMEMBER</figcaption>
      </figure>
      <figure class="collage-item">
        <img src="../../../assets/collages/28.png" class="collage-img" alt="CURTAINS">
        <figcaption class="collage-caption">CURTAINS</figcaption>
      </figure>
      <figure class="collage-item">
        <img src="../../../assets/collages/DIA 12 - NEWSPAPERS.jpg" class="collage-img" alt="FASHION">
        <figcaption class="collage-caption">FASHION</figcaption>
      </figure>
      <figure class="collage-item">
        <img src="../../../assets/collages/29.png" class="collage-img" alt="CONCEPTUAL FRAGILITY">
        <figcaption class="collage-caption">CONCEPTUAL FRAGILITY</figcaption>
      </figure>
      <figure class="collage-item">
        <img src="../../../assets/collages/4.jpeg" class="collage-img" alt="SCULPTURE">
        <figcaption class="collage-caption">SCULPTURE</figcaption>
      </figure>
      <figure class="collage-item">
        <img src="../../../assets/collages/9.png" class="collage-img" alt="A WRONG WAY">
        <figcaption class="collage-caption">A WRONG WAY</figcaption>
      </figure>
      <figure class="collage-item">
        <img src="../../../assets/collages/5.jpeg" class="collage-img" alt="ENCOUNTER">
        <figcaption class="collage-caption">ENCOUNTER</figcaption>
      </figure>
      <figure class="collage-item">
        <img src="../../../assets/collages/DIA 22 - WAVES.jpg" class="collage-img" alt="FAVORITE">
        <figcaption class="collage-caption">FAVORITE</figcaption>
      </figure>
    </div>
  </section>


  <!-- Cuadro de texto emergente -->
<div id="tooltip" class="tooltip"></div>

<!-- <script src="collage-tooltip.js"></script> -->


<!-- ------------------------------------------------------------------------- -->

<hr class="seccion portadasejemplos ">
<div class="row ancho-columna">


  <section class="section">
    <div class="container">
      <div class="content">
        <h1 class="section-title">EDITORIAL WORKS</h1>
        <p class="section-text">Selection of our work in the publishing sector, where we fuse creativity and
           technique to design magazine
          covers that capture the essence of each publication.</p>
      </div>
      <div class="image-container">
        <img src="../../../assets/collages/MAGAZINE1.png" alt="Imagen" class="section-image">
      </div>
    </div>
  </section>



  <section class="section2">
    <div class="container">
      <div class="column">
        <p class="section-text">As passionate illustrators and designers, we are dedicated to creating impactful
          images that not only attract attention, but also tell stories and evoke emotions. Explore our creations and discover
          how we transform ideas into visual art that inspires and communicates.</p>
      </div>
      <div class="image-container-center">
        <img src="../../../assets/collages/MAAZINE2.png" alt="Imagen 2" class="section-image-center">
      </div>
      <div class="column">
        <p class="section-text">We specialize in creating magazine cover design and illustrations that not
          only stand out on shelves, but also tell a powerful visual story. Our team of talented illustrators and designers is dedicated to transforming editorial
          concepts.</p>
      </div>
    </div>
  </section>




    <app-footer></app-footer>
