

#testing {
  margin-right: 0%;
  padding-right: 0%;
  padding: 0%;
}

div#footer {
  background: #353535;
  /* margin-top: 20px; */
  /* padding-top: 30px; */
  padding: 10%;
  color: #c3c3c3;
}

.mititulo {
  font-size: 22px;
  font-style: italic;
  margin-bottom: 20px;
  color: white;
}

.misenlaces a {
  color: white;
}

div#misenlaces a {
  color: whitesmoke;
}

a {
  color: whitesmoke;
}


h1 {
  text-align: center;
  /* margin: 20px 20px 10px; */
  font-family: ui-monospace;
  font-size: 50px;
  /* margin-bottom: -16px; */
  letter-spacing: 5px;
  padding-top: 66px;
  color: rgb(226, 223, 223);
}



div#descripcion {
  font-size: 20px;
  text-align: start;
}

p.descripcion {
  font-size: 20px;
  font-family: serif;
  text-align: justify;
  color: rgb(199, 199, 199);
  padding-top: 5%;
  /* margin-top: 20px; */
}

p.site-description.slogan.site-tagline {
  color: rgb(207, 207, 207);
  text-align: center;
  /* margin: 10px;
  margin-bottom: 10px; */
  letter-spacing: 5px;
}

#Sobre_nosotros {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}


#aboutUsContainer {
  max-height: none;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
}

.col-9 {
  flex: 0%;
}

.aboutUs {
  font-size: 300%;
  text-align: center;
  width: auto;
  margin: 0%;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  top: 5px;



}

.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;

}

.navbar-light .navbar-nav .active.nav-link {
  color: #c3c3c3;
  font-size: 23px;
}

.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;
}



@media (width <=980px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    position: relative;
  }
}

/* mascss */

.navbar{
  display: flex;
  justify-content:center;
  top: 5px;



}
.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;

}


.navbar-light .navbar-nav .active>.nav-link{
  color: #c3c3c3;
  font-size: 23px;

}

.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;

}
.colorfuente{
  color: rgb(0, 0, 0) !important;
}
.colorfuente.active{
  color:rgb(104, 70, 70) !important;
}
.container-fluid {
  justify-content:center;
  width: 350px;
  height: 350px;
  padding: 20px;
}

.figure{
  justify-content: space-between;
  /* background-color: blue; */
  align-items: flex-start;
  width:350px;
  height:350px;
  /* transition: 1s all ease; */
}
/* .figure:hover{
  width: 370px;
  height: 370px;
} */
.contenedordecollage1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding-bottom: 5%;
  margin-top: 70px;
}

.figure-caption{
  font-size: 20px;
}

@media (width <= 980px){
  .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      position: relative;

  }
}

.imagenfondo {
  background-image: url(../../../assets/img-navbar/bannerfijo.png);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/* ---------------------------------------- */

.colorfuente.active{
  color: rgb(255 255 255) !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {

  background-color: #5d5955;
}



/* EXPERIMENTO HOVER */

.navbar-nav a {
  position: relative;
  display: block;
  padding: 5px;
}

.navbar-nav a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ffffff, #ffffff, #ebe7e7);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.navbar-nav a:hover::before {
  transform: scaleX(1);
}

.navbar-nav[data-animation="center"] a::before {
  transform-origin: center;
}

/* EXPERIMETNO HOVER */


/* ----------------------------------------------------- */


/* Estilos para la sección de collages */
.collages-section {
  padding: 3em 0;
  background-color: #fff; /* Ajusta el color de fondo según tu preferencia */
}

.collages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.collage-item {
  position: relative;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.collage-item:hover {
  transform: scale(1.05);
}

.collage-img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.collage-item:hover .collage-img {
  transform: scale(1.1);
  opacity: 0.8;
}

.collage-caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
  transition: opacity 0.3s ease;
}

.collage-item:hover .collage-caption {
  opacity: 1;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .collages-container {
    flex-direction: column;
    align-items: center;
  }

  .collage-item {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .collage-item {
    width: 45%;
  }
}

@media (min-width: 1025px) {
  .collage-item {
    width: 30%;
  }
}


/* ------------------------------------------------------------- */

/* Estilos para el cuadro de texto emergente */
.tooltip {
  position: absolute;
  padding: 10px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .collages-container {
    flex-direction: column;
    align-items: center;
  }

  .collage-item {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .collage-item {
    width: 45%;
  }
}

@media (min-width: 1025px) {
  .collage-item {
    width: 30%;
  }
}

/* ------------------------------------------------------------------ */


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

.content {
  flex: 1;
  padding-right: 20px;
  text-align: center;
}

.section-title {
  font-size: 3.7em;
  margin-bottom: 0.5em;
  color: #333;
  margin-bottom: 10px;
}

.section-text {
  font-size: 1.4em;
  font-family: serif;
  color: #555;
  line-height: 1.6;
  text-align: left;
}

.image-container {
  flex: 1;
  text-align: center;
  padding-top: 50px;
}

.section-image {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .content,
  .image-container {
    text-align: center;
    padding: 0;
  }

  .section-title {
    font-size: 1.8em;
  }

  .section-text {
    text-align: center;
    font-size: 1em;
  }
}
/* ------------------------------------------------------------- */

/* seccion 2 */

/* Estilos para la sección */
.section2 {
  background-color: #f8f9fa; /* Color de fondo */
  padding: 50px 0; /* Espaciado interno */
  margin-top: 40px;
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
  padding: 0 20px; /* Espaciado interno horizontal */
}

/* Estilos para las columnas de texto */
.column {
  flex: 1; /* Ocupa todo el espacio disponible */
  padding: 0 20px; /* Espaciado interno horizontal */
  text-align: center; /* Alineación del texto */
}

/* Estilos para la imagen centrada */
.image-container-center {
  flex: 1; /* Ocupa todo el espacio disponible */
  text-align: center; /* Alineación del contenido */
  margin: 35px 0; /* Margen exterior */
}

.section-image-center {
  max-width: 100%; /* Imagen ocupa el 100% del ancho disponible */
  height: auto; /* Altura automática */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas */

  .container {
    flex-direction: column; /* Cambia a dirección de columna */
    text-align: center; /* Alineación centrada */
  }

  .column,
  .image-container-center {
    padding: 10px; /* Reducción de espaciado interno */
  }

  .section-image-center {
    max-width: 80%; /* Reduce el ancho de la imagen */
  }
}

