<p class="texBienvenido">Bienvenido, aquí podrás activar tú cuenta y disfrutar de los servicios de Altschmerz Ilustration</p>

<div id="activarCuenta">


    <div class="form-group">
        <div class="actCuenta">Activar Cuenta</div>
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" [(ngModel)]="email">
    </div>

    <div class="form-group">
        <label for="codigo" class="form-label">Codigo Activación</label>
        <input type="text" class="form-control" id="codigo" [(ngModel)]="codigo">
    </div>




    <button type="button" class="btn btn-light" (click)="Activar()">Iniciar Sesión</button>
</div>