<p>activar works! ok</p>

<div id="milogin">


    <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" [(ngModel)]="email">>
    </div>

    <div class="form-group">
        <label for="codigo" class="form-label">Codigo Activación</label>
        <input type="password" class="form-control" id="codigo" [(ngModel)]="codigo">>
    </div>




    <button type="button" class="btn btn-light" (click)="Activar()">Iniciar Sesión</button>
</div>