
<header class="imagenfondo">
  <h1>Altschmerz Ilustration</h1>
  <p class="site-description slogan site-tagline">
    Ilustration - Collage - Dark art - Conceptual worlds
  </p>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/navbar">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/store">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus">ContactUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/location">Location</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="colorfuente nav-link " routerLink="/gallery">Album cover Art</a>
  </li>
  <li class="nav-item">
    <a class="colorfuente nav-link" routerLink="/collages">Collages</a>
  </li>
  <li class="nav-item">
    <a class="colorfuente nav-link" routerLink="/photography">Photography</a>
  <li class="nav-item">
    <a class="colorfuente nav-link active" routerLink="/scapes">Scapes</a>
  </li>


</ul>

<div class="contenedorscapes">

  <figure class="figure container-fluid">
    <img src="../../../assets/scapes/IMG_20220902_091113_925.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-center">1</figcaption>
  </figure>
  <figure class="figure container-fluid">
    <img src="../../../assets/scapes/IMG_20230307_153330_129.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-center">2</figcaption>
  </figure>
  <figure class="figure container-fluid">
    <img src="../../../assets/scapes/3.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-center">3</figcaption>
  </figure>
