<app-navbar></app-navbar>

<ul class="nav nav-tabs justify-content-center nav-pills nav-fill flex-column flex-sm-row">

  <li class="nav-item">
    <a class="colorfuente nav-link " routerLink="/gallery">Album cover Art</a>
  </li>
  <li class="nav-item">
    <a class="colorfuente nav-link" routerLink="/collages">Collages</a>
  </li>
  <li class="nav-item">
    <a class="colorfuente nav-link" routerLink="/photography">Photography</a>
  <li class="nav-item">
    <a class="colorfuente nav-link active" routerLink="/scapes">Scapes</a>
  </li>


</ul>

<!-- <div class="contenedorscapes">

  <figure class="figure container-fluid">
    <img src="../../../assets/scapes/IMG_20220902_091113_925.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-center">1</figcaption>
  </figure>
  <figure class="figure container-fluid">
    <img src="../../../assets/scapes/IMG_20230307_153330_129.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-center">2</figcaption>
  </figure>
  <figure class="figure container-fluid">
    <img src="../../../assets/scapes/3.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-center">3</figcaption>
  </figure>

</div> -->

<!-- <div class="contenedorscapes">
  <div class="left-column">
    <figure class="figure">
      <img src="../../../assets/scapes/IMG_20220902_091113_925.jpg" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption text-center">1</figcaption>
    </figure>
    <figure class="figure">
      <img src="../../../assets/scapes/IMG_20230307_153330_129.jpg" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption text-center">2</figcaption>
    </figure>
    <figure class="figure">
      <img src="../../../assets/scapes/3.jpg" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption text-center">3</figcaption>
    </figure>
  </div>
  <div class="right-column">
    <img src="../../../assets/scapes/Mockup.png" class="extra-img" alt="Extra Image">
  </div>
</div>

<section class="text-section">
  <p>Descubre nuestras impresionantes obras y cómo pueden transformar cualquier espacio en tu hogar. Cada pieza es una expresión única de creatividad y arte.</p>
</section>  -->

<section class="section">
  <div class="container">
    <div class="content">

    </div>
    <div class="image-container">
    </div>
  </div>
</section>




<section class="text-section">
  <div class="container">
    <div class="content">
      <h1 class="section-title">ESCAPISM</h1>
      <p class="section-text">Vivid and captivating landscapes through our illustrations. Each work captures the unique essence of natural and urban settings <br>
        designed to enrich any format:
        from magazines and books to interior decoration. Our meticulous approach fuses artistic techniques<br> with a contemporary vision,
        offering pieces that inspire and transform any space.</p>
    </div>
  </div>
</section>

<app-footer></app-footer>
