h3.titulo.compras {
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 25px;
}

.border-img {
    width: 200px;
    margin: 10px 10px 10px 53px;
    border-radius: 25px;
}

.margen-ngrx {
    color: white;
    border: solid 2px;
    background-color: #333333;
    width: 300px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 45px;
}

.nombreproducto {
    margin: 0px 0px 5px 27px;
    font-size: 18px;
}

.negrita {
    position: absolute;
    left: 302px;
    cursor: pointer;
}

.precioproducto {
    text-align: center;
    font-weight: 700;
}

.negritatotal {
    margin: 0px 25px 0px 30px;
    text-align: center;
}

.totalcompra {
    font-weight: 700;
    margin: 22px 0px 22px 3px
}

/* stilos para carrito ventas boton de la basura  */

@media (min-width: 412px) {
    .negrita {
        position: absolute;
        left: 294px;
        cursor: pointer;
    }

}

@media (min-width: 576px) {
    .negrita {
        position: absolute;
        left: 372px;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .negrita {
        position: absolute;
        left: 472px;
        cursor: pointer;
    }
}

@media (min-width: 992px) {
    .negrita {
        position: absolute;
        left: 585px;
        cursor: pointer;
    }
}

@media (min-width: 1200px) {
    .negrita {
        position: absolute;
        left: 890px;
        cursor: pointer;
    }
}

/* nombre del producto */
@media (min-width: 412px) {

    .nombreproducto {
        margin: 0px 0px 5px 58px;
        font-size: 18px;
    }
}

@media (min-width: 576px) {

    .nombreproducto {
        margin: 0px 0px 5px 42px;
        font-size: 18px;
    }
}

@media (min-width: 768px) {

    .nombreproducto {
        margin: 0px 0px 5px 50px;
        font-size: 18px;
    }
}

@media (min-width: 992px) {

    .nombreproducto {
        margin: 0px 0px 5px 50px;
        font-size: 18px;
    }
}

@media (min-width: 1200px) {

    .nombreproducto {
        margin: 0px 0px 5px 50px;
        font-size: 18px;
    }
}

/* total de compras  */
@media (min-width: 412px) {
    .negritatotal {
        margin: 0px 25px 0px 0px;
        text-align: center;
    }
}

@media (min-width: 576px) {
    .negritatotal {
        margin: 0px 25px 0px 0px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .negritatotal {
        margin: 0px 25px 0px 0px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .negritatotal {
        margin: 0px 25px 0px 0px;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .negritatotal {
        margin: 0px 25px 0px 0px;
        text-align: center;
    }
}
/* valor numerico total compra */
@media (min-width: 412px){
    .totalcompra {
    font-weight: 700;
    margin: 22px 0px 22px 85px
}
}
@media (min-width: 576px){
    .totalcompra {
    font-weight: 700;
    margin: 22px 0px 22px 85px
}
}
@media (min-width: 768px){
    .totalcompra {
    font-weight: 700;
    margin: 22px 0px 22px 78px
}
}
@media (min-width: 992px){
    .totalcompra {
    font-weight: 700;
    margin: 22px 0px 22px 86px
}
}
@media (min-width: 1200px){
    .totalcompra {
    font-weight: 700;
    margin: 22px 0px 22px 88px
}
}