
<section>
  <div id="footer">
    <div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="mititulo">En donde estamos</div>
          <p>
            Mariahilfer Str. 2, 8020
            Graz, Austria
          </p>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="mititulo">Redes Sociales</div>
          <div id="misenlaces">
            <div class="misenlaces"><a href="https://www.behance.net/eduardoiquinas">Behance</a></div>
            <div class="misenlaces"><a href="https://www.instagram.com/p/C4KSNtnMq0k">instagram</a></div>

          </div>

        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="mititulo">Horarios</div>
          <div class="mihorario">Lunes 8:00am a 5:00pm</div>
          <div class="mihorario">Martes 8:00am a 5:00pm</div>
          <div class="mihorario">Miercoles 8:00am a 5:00pm</div>
          <div class="mihorario">Jueves 8:00am a 5:00pm</div>
          <div class="mihorario">Viernes 8:00am a 5:00pm</div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="mititulo">Escribenos</div>
          <div class="micorreo"><a href="#">altschmerzilustration@gmail.com</a></div>
        </div>

      </div>

    </div>

  </div>
</section>
