<section class="footergeneral">

  <div class="containerimagen">
        <div class="row caja-footer">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
              <img src="../../../assets/footer/logoblanco.png" class="logo-footer" alt="Logo altschmerzilustration">
            </div>
          </div>
  </div>




  <div id="footerSections">
        <div class="tamaños">
          <h4 class="titulos-h4-footer">GET STARTED</h4>
          <ul class="menu-footer">
            <li>Home</li>
            <li>Gallery</li>
            <li>Shop</li>
            <li>Registro</li>
            <li>Location</li>
          </ul>
        </div>


        <div class="tamaños">
          <h4 class="titulos-h4-footer">SERVICES</h4>
          <ul class="menu-footer">
            <li>Ilustration</li>
            <li>Design</li>
            <li>Photography</li>
            <li>Cover Layout</li>
          </ul>
        </div>


        <div class="tamaños">
          <h4 class="titulos-h4-footer">PRODUCTS</h4>
          <ul class="menu-footer">
            <li>Album Cover Art</li>
            <li>collages</li>
            <li>Photography</li>
            <li>Scapes</li>
          </ul>
        </div>


        <div class="tamaños">
          <h4 class="titulos-h4-footer">CONTACT US</h4>
          <ul class="menu-footer">
            <li>T&C</li>
            <li>Privacidad</li>
            <li>Cookies</li>
            <li>PQRS</li>
          </ul>
        </div>



        <div class="tamaños">
          <h4 class="titulos-h4-footer">SOCIAL MEDIA</h4>
          <div id="misenlaces">
            <div class="misenlaces"><a href="https://www.behance.net/eduardoiquinas">Behance</a></div>
            <div class="misenlaces"><a href="https://www.instagram.com/p/C4KSNtnMq0k">Instagram</a></div>
          </div>
        </div>

      </div>



      <hr class="seccion-iconos">
      <div class="row ancho-columna-iconosfooter">

      <div class=" iconos">
        <a href="" target="_blank">
          <img src="../../../assets/footer/logoblanco.png" class="icono-footer" >
        </a>

        <a href="https://www.behance.net/eduardoiquinas" target="_blank">
          <img src="../../../assets/logos/behance.svg" class="icono-footer" >
        </a>

        <a href="https://www.instagram.com/p/C4KSNtnMq0k/" target="_blank">
          <img src="../../../assets/logos/instagram.svg" class="icono-footer" >
        </a>

        <a href="https://github.com/EduardoIQ/PROYECTO-FINAL-IBERO-2024" target="_blank">
          <img src="../../../assets/logos/github.svg" class="icono-footer" >
        </a>

        <a href="https://getbootstrap.com/" target="_blank">
          <img src="../../../assets/logos/bootstrap.svg" class="icono-footer" >
        </a>


      </div>
    </div>




  <div>

      <hr class="seccion-copyright ">
      <div class="row ancho-columna-copyright">
      <div class="col-12">
        <div class="copyright text-center">
          <p class="copyright-text">©Copyright <b>Altschmerz Ilustration</b> 2024 - Designed & Devolped by <a href="https://github.com/EduardoIQ/PROYECTO-FINAL-IBERO-2024">Altschmerz Ilustration</a>. All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>





</section>


