#testing {
  margin-right: 0%;
  padding-right: 0%;
  padding: 0%;
}

div#footer {
  background: #353535;
  /* margin-top: 20px; */
  /* padding-top: 30px; */
  padding: 10%;
  color: #c3c3c3;
}

.mititulo {
  font-size: 22px;
  font-style: italic;
  margin-bottom: 20px;
  color: white;
}

.misenlaces a {
  color: white;
}

div#misenlaces a {
  color: whitesmoke;
}

a {
  color: whitesmoke;
}


h1 {
  text-align: center;
  /* margin: 20px 20px 10px; */
  font-family: ui-monospace;
  font-size: 50px;
  /* margin-bottom: -16px; */
  letter-spacing: 5px;
  padding-top: 66px;
  color: rgb(226, 223, 223);
}



div#descripcion {
  font-size: 20px;
  text-align: start;
}

p.descripcion {
  font-size: 20px;
  font-family: serif;
  text-align: justify;
  color: rgb(199, 199, 199);
  padding-top: 5%;
  /* margin-top: 20px; */
}

p.site-description.slogan.site-tagline {
  color: rgb(207, 207, 207);
  text-align: center;
  /* margin: 10px;
  margin-bottom: 10px; */
  letter-spacing: 5px;
}

#Sobre_nosotros {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.imagenfondo {
  background-image: url(../../../assets/img-navbar/bannerfijo.png);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#aboutUsContainer {
  max-height: none;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
}

.col-9 {
  flex: 0%;
}

.aboutUs {
  font-size: 300%;
  text-align: center;
  width: auto;
  margin: 0%;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  top: 5px;



}

.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;

}

.navbar-light .navbar-nav .active.nav-link {
  color: #c3c3c3;
  font-size: 23px;
}

.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;
}



@media (width <=980px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    position: relative;
  }
}

/* mascss */

.navbar{
  display: flex;
  justify-content:center;
  top: 5px;



}
.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;

}


.navbar-light .navbar-nav .active>.nav-link{
  color: #c3c3c3;
  font-size: 23px;

}

.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;

}
.colorfuente{
  color: rgb(0, 0, 0) !important;
}
.colorfuente.active{
  color:rgb(104, 70, 70) !important;
}
.container-fluid {
  justify-content:center;
  width: 350px;
  height: 350px;
  padding: 20px;
}

.figure{
  justify-content: space-between;
  /* background-color: blue; */
  align-items: flex-start;
  width:350px;
  height:350px;
  /* transition: 1s all ease; */
}
/* .figure:hover{
  width: 370px;
  height: 370px;
} */
.contenedordecollage1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding-bottom: 5%;
}

.figure-caption{
  font-size: 20px;
}

@media (width <= 980px){
  .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      position: relative;

  }
}
