
#testing {
  margin-right: 0%;
  padding-right: 0%;
  padding: 0%;
}

/* ---------------------------------------- */
/* dejar en galerria es importante */
.contenedordecollage1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 45px; */
  padding-bottom: 5%;
  margin-top: 70px;

}

.colorfuente.active{
  color: rgb(255 255 255) !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #5d5955;
}

.colorfuente{
  color: rgb(0, 0, 0) !important;
}
.colorfuente.active{
  color:rgb(241, 241, 241) !important;
}
.container-fluid {
  justify-content:center;
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 5px;
}

.img-fluid{
  max-width: 105%;
  max-height: 130%;
}
