

<app-navbar></app-navbar>


<ul class="nav nav-tabs justify-content-center nav-pills nav-fill flex-column flex-sm-row">

  <li class="nav-item">
    <a class="colorfuente nav-link active" routerLink="/gallery">Album cover Art</a>
  </li>
  <li class="nav-item">
    <a class="colorfuente nav-link" routerLink="/collages">Collages</a>
  </li>
  <li class="nav-item">
    <a class="colorfuente nav-link" routerLink="/photography">Photography</a>
  <li class="nav-item">
    <a class="colorfuente nav-link" routerLink="/scapes">Scapes</a>
  </li>


</ul>


<div class="contenedordecollage1">

  <figure class="figure container-fluid">
    <img src="../../../assets/gallery/Australwolf  Thursablót.jpg" class="figure-img img-fluid rounded" alt="...">
    <!-- <figcaption class="figure-caption text-center">Australwolf - Thursablót Dark Heathenism</figcaption> -->
  </figure>

  <figure class="figure container-fluid">
    <img src="../../../assets/gallery/faded in to the flowers (1).jpg" class="figure-img img-fluid rounded" alt="...">
    <!-- <figcaption class="figure-caption text-center">Schädel - Available</figcaption> -->
  </figure>

  <figure class="figure container-fluid">
    <img src="../../../assets/gallery/Mitgefühl.png" class="figure-img img-fluid rounded" alt="...">
    <!-- <figcaption class="figure-caption text-center">Mitgefühl - Like Tears In The Rain</figcaption> -->
  </figure>

  <figure class="figure container-fluid">
    <img src="../../../assets/gallery/hindu.png" class="figure-img img-fluid rounded" alt="...">
    <!-- <figcaption class="figure-caption text-center">Transmigration - Available</figcaption> -->
  </figure>
  <figure class="figure container-fluid">
    <img src="../../../assets/gallery/PORTADA.png" class="figure-img img-fluid rounded" alt="...">
    <!-- <figcaption class="figure-caption text-center">Volvntaris Astral Corpvs</figcaption> -->
  </figure>
  <figure class="figure container-fluid">
    <img src="../../../assets/gallery/Edictvm Tenebrarvm - Coverart.png" class="figure-img img-fluid rounded" alt="...">
    <!-- <figcaption class="figure-caption text-center">Edictvm - Available</figcaption> -->
  </figure> <br>
  <figure class="figure container-fluid">
    <img src="../../../assets/gallery/DIA 14 - STOLEN.jpg" class="figure-img img-fluid rounded" alt="...">
    <!-- <figcaption class="figure-caption text-center">Transmigration - Available</figcaption> -->
  </figure>
  <figure class="figure container-fluid">
    <img src="../../../assets/gallery/Schädel.png" class="figure-img img-fluid rounded" alt="...">
    <!-- <figcaption class="figure-caption text-center">Schädel - Available</figcaption> -->
  </figure>

</div>


<hr class="seccion portadasejemplos ">
<div class="row ancho-columna">




<!-- <section class="portfolio">
  <div id="portfolio-container" class="container">
    <h1 class="portfolio-title">PORTFOLIO</h1>
    <p class="portfolio-description">
      Explore our portfolio to see some of our creations and discover how we can help you bring your ideas to life.<br>
      We are excited to work with you and create something extraordinary together!
    </p>
    <div class="portfolio-image">
      <img src="../../../assets/bodyhome/4.jpeg" alt="Portfolio Image" class="img-fluid">
    </div>
  </div>
</section> -->


<!-- <section class="portfolio">
  <div id="portfolio-container" class="container">
    <div class="portfolio-text">
      <h1 class="portfolio-title">PORTFOLIO</h1>
      <p class="portfolio-description">
        Explore our portfolio to see some of our creations and discover how we can help you bring your ideas to life.<br>
        We are excited to work with you and create something extraordinary together!
      </p>
    </div>
    <div class="portfolio-image">
      <img src="../../../assets/bodyhome/4.jpeg" alt="Portfolio Image" class="img-fluid">
    </div>
  </div>
</section> -->

<section class="portfolio">
  <div id="portfolio-container" class="container">
    <div class="portfolio-text">
      <h1 class="portfolio-title">PORTFOLIO</h1>
      <p class="portfolio-description">
        Explore our portfolio to see some of our creations and discover how we can help you bring your ideas to life.<br>
        We are excited to work with you and create something extraordinary together!
      </p>
    </div>
    <div class="portfolio-image">
      <img src="../../../assets/gallery/mock vinilo1.png" alt="Portfolio Image" class="img-fluid">
    </div>
  </div>
</section>


<!-- Nueva sección de imágenes superpuestas -->
<section class="superimposed-images">
  <div class="container">
    <h2 class="section-title">Our Creative Showcase</h2>
    <div class="images-wrapper">
      <img src="../../../assets/gallery/MOCK VINILO 2.png" alt="Image 1" class="image">
      <img src="../../../assets/gallery/vinilo4.png" alt="Image 2" class="image">
      <img src="../../../assets/gallery/MOCKVINILO 3.png" alt="Image 3" class="image">
    </div>
  </div>
</section>

<app-footer></app-footer>
