<app-navbar></app-navbar>
<p class="container">gallery works!</p>

  <ul class="nav nav-tabs">

    <li class="nav-item">
      <a class="colorfuente nav-link active" routerLink="/gallery">Album cover Art</a>
    </li>
    <li class="nav-item">
      <a class="colorfuente nav-link" routerLink="/collages">Collages</a>
    </li>
    <li class="nav-item">
      <a class="colorfuente nav-link" routerLink="/photography">Photography</a>
    <li class="nav-item">
      <a class="colorfuente nav-link" routerLink="/scapes">Scapes</a>
    </li>


  </ul>


  <div class="contenedordecollage1">

    <figure class="figure container-fluid">
      <img src="../../../assets/gallery/Australwolf  Thursablót.jpg" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption text-center">Australwolf - Thursablót Dark Heathenism</figcaption>
    </figure>

    <figure class="figure container-fluid">
      <img src="../../../assets/gallery/Schädel.png" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption text-center">Schädel - Available</figcaption>
    </figure>

    <figure class="figure container-fluid">
      <img src="../../../assets/gallery/Mitgefühl.png" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption text-center">Mitgefühl - Like Tears In The Rain</figcaption>
    </figure>

    <figure class="figure container-fluid">
      <img src="../../../assets/gallery/hindu.png" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption text-center">Transmigration - Available</figcaption>
    </figure>
    <figure class="figure container-fluid">
      <img src="../../../assets/gallery/PORTADA.png" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption text-center">Volvntaris Astral Corpvs</figcaption>
    </figure>
    <figure class="figure container-fluid">
      <img src="../../../assets/gallery/Edictvm Tenebrarvm - Coverart.png" class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption text-center">Edictvm - Available</figcaption>
    </figure> <br>

  </div>
<app-footer></app-footer>
