<app-menu></app-menu>

<div class="ventana">
    <div class="titulo">Perfil del usuario</div>
    
<div class="marPerfil" >
    <div class="texMisDatos" >Mis Datos</div>
    <div class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="nombre">Nombres</label>
                <input type="text" class="form-control" id="nombre" required [(ngModel)]="nombre">
                <div class="valid-feedback">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="apellidos">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" required [(ngModel)]="apellidos">
                <div class="valid-feedback">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="email">Correo Electronico</label>
                <input type="text" class="form-control" id="email"  disabled="true" [(ngModel)]="email">
                <div class="valid-feedback">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="telefono">Telefono</label>
                <input type="text" class="form-control" id="telefono"  required [(ngModel)]="telefono">
                <div class="valid-feedback">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password"  required [(ngModel)]="password">
                <div class="valid-feedback">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="confirmarpass">Confirmar Password</label>
                <input type="password" class="form-control" id="confirmarpass"  required [(ngModel)]="confirmarpass">
                <div class="valid-feedback">
                </div>
            </div>
        </div>
        <button class="btn btn-primary " type="button" (click)="ActualizarDatos()">Actualizar Datos Personales</button>
        <button class="btn btn-primary aju_Boton" type="button" (click)="ActualizarPass()" *ngIf="confirmarpass != ''">Actualizar Password</button>
        <input type="file" class="btn" (change)="ArchivoSeleccionado($event)">
        <button type="button" class="btn btn-success" (click)="UploadImg()" *ngIf="selectfile.name != ''"> Cargar Imagen</button>
    </div>

</div>
</div>