<app-menu></app-menu>

<div class="ventana">
    <div class="titulo">Perfil del usuario</div>
    <div><img class="imgprod" src="../../../assets/plus-sign-button_17340.png"></div>
    


<div class="marPerfil" >
    <div class="texMisDatos" >Mis Datos</div>
    <div class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Nombres</label>
                <input type="text" class="form-control" id="validationCustom01" required [(ngModel)]="nombre">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Apellidos</label>
                <input type="text" class="form-control" id="validationCustom02" required [(ngModel)]="apellidos">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Correo Electronico</label>
                <input type="text" class="form-control" id="validationCustom01"  disabled="true" [(ngModel)]="email">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Telefono</label>
                <input type="text" class="form-control" id="validationCustom02"  required [(ngModel)]="telefono">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Password</label>
                <input type="text" class="form-control" id="validationCustom01"  required [(ngModel)]="password">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Nuevo Password</label>
                <input type="text" class="form-control" id="validationCustom02"  required [(ngModel)]="nuevo_password">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Actualizar</button>
    </div>

</div>
</div>