<app-navbar></app-navbar>

<!-- CARRUSEL -->

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active data-bs-ride="carousel data-interval="2500">
      <img src="../../../assets/img-carrusel1/azure dreams.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item"  data-interval="1500">
      <img src="../../../assets/img-carrusel1/collapse.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="1500">
      <img src="../../../assets/img-carrusel1/lebensmude.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="../../../assets/img-carrusel1/lufschloss.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleFade" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleFade" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>

<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img-carrusel1/azure dreams.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img-carrusel1/collapse.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img-carrusel1/lebensmude.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img-carrusel1/lufschloss.png" class="d-block w-100" alt="...">
    </div>
  </div>

 <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div> -->



<!-- BODY -->

<section id="Sobre_nosotros">
  <div class="imagenfondo">

    <div id="primerasimagenes">
      <div class="row">
        <img src="../../../assets/bodyhome/estatuaaaas.jpg" class="col-12 col-sm-12 col-md-3 primerasimagenes" alt="Reflejo">
        <div id="aboutUsContainer" class="col-9 col-sm-12 col-md-6">

        <h1 class="aboutUs">ABOUT US</h1>

          <p class="descripcion">Agency for the creation and dissemination of visual and artistic concepts,
            window to a world of expression where each work tells a unique story. The main idea comes from
            need to show the world different artists with multiple points of view and creative styles,
            to give an image and conceptualize the different scenarios, imaginaries and ideas of other artists.
            We specialize in creating illustrations, photography, collages and cover art
            of albums by groups of different musical genres, books, magazines and commissioned works of art.
          </p>
        </div>

        <img src="../../../assets/bodyhome/4.jpeg" class="col-12 col-sm-12 col-md-3 primerasimagenes" alt="Monument">
      </div>
    </div>




  </div>

</section>

<!-- TARJETAS SOBRE NUESTROS SERVICIOS -->
<h1 class="servicios">OUR SERVICES</h1>
<div class="contenedor-card">
  <div class="card">
    <h2 class="card-title">Ilustration</h2>
    <p class="card-text">We work closely with clients to capture their vision
      and create illustrations that exceed your expectations. <br> We use a variety of techniques and styles,
      from traditional drawing to digital illustration.</p>
      <button class="botoncito">Show more</button>
  </div>

  <div class="card">
    <h2 class="card-title">Desing</h2>
    <p class="card-text">We use our experience and creativity to develop innovative design solutions
      and personalized that help your projects have a unique brand.</p>
      <button class="botoncito">Show more</button>
  </div>

  <div class="card">
    <h2 class="card-title">Photography</h2>
    <p class="card-text"> Our professional team will understand your needs and desires to create photographs
      that exceed your expectations. We have professionals and techniques to capture high quality images
      that are both beautiful and durable.</p>
      <button class="botoncito">Show more</button>
  </div>

  <div class="card">
    <h2 class="card-title">Cover Layout</h2>
    <p class="card-text">Are you an author or editor looking for a professional layout and design service,
      for your book or magazine? We have experienced layout designers with a passion for creating beautiful and functional publications.</p>
      <button class="botoncito">Show more</button>
    </div>

</div>




<app-footer></app-footer>



