<app-navbar></app-navbar>


<section id="Sobre_nosotros">
  <div class="imagenfondo">

    <div id="primerasimagenes">
      <div class="row">
        <img src="../../../assets/bodyhome/1.jpeg" class="col-12 col-sm-12 col-md-3 primerasimagenes" alt="Reflejo">

        <div class="container">
          <div id="aboutUsContainer" class="col-9 col-sm-12 col-md-6">

            <h1 class="aboutUs">SOBRE NOSOTROS</h1>
            <p class="descripcion">Agencia de creación y difusión de conceptos visuales y artisticos,
              ventana a un mundo de expresión donde cada obra cuenta una historia única. La idea principal proviene de
              la
              necesidad de mostrarle al mundo artistas diferentes con multiples puntos de vista y estilos creativos,
              de dar una imagen y conceptualizar los diferentes escenarios, imaginarios e ideas de otros artistas.
              Nos especializamos en la creación de ilustraciones, fotografía, collages y arte para portadas
              de álbumes de agrupaciones de diferentes generos musicales, libros, revistas y obras de arte bajo encargo.
            </p>
          </div>
        </div>


        <img src="../../../assets/bodyhome/4.jpeg" class="col-12 col-sm-12 col-md-3 primerasimagenes" alt="Monument">
      </div>
    </div>
  </div>
</section>
<br>



<h1 class="servicios">NUESTROS SERVICIOS</h1>
<div class="contenedor-card">
  <div class="card">
    <h2 class="card-title">Ilustration</h2>
    <p class="card-text">Trabajamos en estrecha colaboración con los clientes para capturar su visión
      y crear ilustraciones que superen sus expectativas. <br> Utilizamos una variedad de técnicas y estilos,
       desde el dibujo tradicional hasta la ilustración digital.</p>
  </div>

  <div class="card">
    <h2 class="card-title">Desing</h2>
    <p class="card-text">Utilizamos nuestra experiencia y creatividad para desarrollar soluciones de diseño innovadoras
      y personalizadas que ayuden a que tus proyectos tengan una marca unica.</p>
  </div>

  <div class="card">
    <h2 class="card-title">Photography</h2>
    <p class="card-text"> Nuestro equipo profesional comprendera sus necesidades y deseos para crear fotografías
      que superen sus expectativas. Contamos con profesionales y técnicas para capturar imágenes de alta calidad
      que sean a la vez hermosas y duraderas.</p>
  </div>

  <div class="card">
    <h2 class="card-title">Cover Layout</h2>
    <p class="card-text">¿Eres un autor o editor que busca un servicio de maquetación y diagramación profesional
      para tu libro o revista? Tenemos diagramadores experimentados con pasión por crear publicaciones hermosas y funcionales.</p>
  </div>
</div>



<app-footer></app-footer>



