div#descripcion {
  font-size: 20px;
  text-align: start;

}

p.descripcion {
  font-size: 20px;
  font-family: serif;
  text-align: justify;
  color: rgb(199, 199, 199);
  padding-top: 5%;

}

p.site-description.slogan.site-tagline {
  color: rgb(207, 207, 207);
  text-align: center;
  letter-spacing: 5px;
}

/* BODY */

#Sobre_nosotros{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-family: ui-monospace;
  font-size: 50px;
  letter-spacing: 5px;
  padding-top: 66px;
  color: rgb(226, 223, 223);
}

.imagenfondo{
  background-image: url(../../../assets/bodyhome/bannerfijo.png);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#aboutUsContainer{
  max-height: none;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:10%;


}



.col-9{
  flex: 0%;

}

.aboutUs{
  font-size: 300%;
  text-align: center;
  width: auto;
  margin: 0%;
  padding: 0;

}

.navbar{
  display: flex;
  justify-content:center;
  top: 5px;



}
.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;

}

.navbar-light .navbar-nav .active.nav-link{
  color: #c3c3c3;
  font-size: 23px;
}
.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;
}

@media (width <= 980px){
  .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      position: relative;
  }
}


/* IMAGENES */
div#primerasimagenes {
  padding: 20px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.primerasimagenes {
  object-fit: contain;
}




/* CARDS */

.card{
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  border: 2px solid #6b6b6b;
  border-radius:0px 0px 0px 40px;
  text-align: center;
  justify-content: flex-start;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
  /* flex-direction: row;
  flex-wrap: wrap; */
}

.botoncito{
  font-size: 15px;
  width: 110px;
  height: 28px;
  border-radius: 60px ;
  background-color: white ;
}
 .card:hover{
  background-color: #0f0f0f;
  color: white;
  width: 310px;
  height: 310px;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover;
  transform: scale(1.2);
 }
 .card .botoncito:hover{
  background-color: #007bff;
  color: white;
  border: white;
 }


.contenedor-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;

}


.card-title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 17px;
  text-align: center;
  font-family: serif;


}



h1.servicios {
  color: #4b4b4b;
  font-size: 300%;

}


