<app-navbar></app-navbar>
<p>bodyhome works!</p>


<!-- <section id="Sobre_nosotros">
  <div class="imagenfondo">

    <div id="primerasimagenes">
      <div class="row">
        <img src="../../../assets/bodyhome/1.jpeg" class="col-12 col-sm-12 col-md-3 primerasimagenes" alt="Reflejo">
        <div id="aboutUsContainer" class="col-9 col-sm-12 col-md-6">

        <h1 class="aboutUs">SOBRE NOSOTROS</h1>

          <p class="descripcion">Agencia de creación y difusión de conceptos visuales y artisticos,
            ventana a un mundo de expresión donde cada obra cuenta una historia única. La idea principal proviene de la
            necesidad de mostrarle al mundo artistas diferentes con multiples puntos de vista y estilos creativos,
            de dar una imagen y conceptualizar los diferentes escenarios, imaginarios e ideas de otros artistas.
            Nos especializamos en la creación de ilustraciones, fotografía, collages y arte para portadas
            de álbumes de agrupaciones de diferentes generos musicales, libros, revistas y obras de arte bajo encargo.
          </p>
        </div>

        <img src="../../../assets/bodyhome/4.jpeg" class="col-12 col-sm-12 col-md-3 primerasimagenes" alt="Monument">
      </div>
    </div>
  </div>
</section> -->
<app-footer></app-footer>