


#testing {
  margin-right: 0%;
  padding-right: 0%;
  padding: 0%;
}

h1 {
  text-align: center;
  font-family: ui-monospace;
  font-size: 50px;
  letter-spacing: 5px;
  padding-top: 66px;
  color: rgb(226, 223, 223);
}

div#descripcion {
  font-size: 20px;
  text-align: start;
}

p.descripcion {
  font-size: 20px;
  font-family: serif;
  text-align: justify;
  color: rgb(199, 199, 199);
  padding-top: 5%;
}

p.site-description.slogan.site-tagline {
  color: rgb(207, 207, 207);
  text-align: center;
  letter-spacing: 5px;
}
.imagenfondo {
  background-image: url(../../../assets/img-navbar/bannerfijo.png);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: center;
  top: 5px;
  cursor: pointer;
}

.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;

}

.navbar-light .navbar-nav .active.nav-link {
  color: #c3c3c3;
  font-size: 23px;
}

.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;
}



@media (width <=980px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    position: relative;
  }
}

/* ------------------------------------------------------ */

/* SHOP BY CATEGORIES BOTONES */


nav li {
  display: inline
}

h1#shopbycategory {
  color: #4b4b4b;
  padding: 30px;
  font-size:65px;
}
a {
  color: whitesmoke;
}

.botoncitos {
  background: #5f5e5ecb;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 155px;
  text-align: center;
  height: 56px;
  border: slategray;
  font-size: 17px;
}
.botoncitos:hover{
  background-color: #474747;
}

a[_ngcontent-ng-c541629009] {
  color: #4b4b4b;
}

.botonesmenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* ------------------------------------------------- */

/* CARD */
*{
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;

}

.card{
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
}


/* .pruebaimagen{
  width: 50%;
  height: 300px;
} */

.card-content{
  padding: 16px;
}


.card-content h3{
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p{
  color: #666;
  font-size: 18px;
  line-height: 1.3;
}

p.textoprecio {
  font-weight: 600;
}


.card-content .btn{
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #f0f0f0;

}


.card-content .btn:hover {
  background-color: #001124;
}


/* EXPERIMENTO HOVER */

.navbar-nav a {
  position: relative;
  display: block;
  padding: 5px;
}

.navbar-nav a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ffffff, #ffffff, #ebe7e7);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.navbar-nav a:hover::before {
  transform: scaleX(1);
}

.navbar-nav[data-animation="center"] a::before {
  transform-origin: center;
}

/* EXPERIMETNO HOVER */
