#testing {
  margin-right: 0%;
  padding-right: 0%;
  padding: 0%;
}

div#footer {
  background: #353535;
  /* margin-top: 20px; */
  /* padding-top: 30px; */
  padding: 10%;
  color: #c3c3c3;
}

.mititulo {
  font-size: 22px;
  font-style: italic;
  margin-bottom: 20px;
  color: white;
}

.misenlaces a {
  color: white;
}

div#misenlaces a {
  color: whitesmoke;
}

a {
  color: whitesmoke;
}


h1 {
  text-align: center;
  /* margin: 20px 20px 10px; */
  font-family: ui-monospace;
  font-size: 50px;
  /* margin-bottom: -16px; */
  letter-spacing: 5px;
  padding-top: 66px;
  color: rgb(226, 223, 223);
}



div#descripcion {
  font-size: 20px;
  text-align: start;
}

p.descripcion {
  font-size: 20px;
  font-family: serif;
  text-align: justify;
  color: rgb(199, 199, 199);
  padding-top: 5%;
  /* margin-top: 20px; */
}

p.site-description.slogan.site-tagline {
  color: rgb(207, 207, 207);
  text-align: center;
  /* margin: 10px;
  margin-bottom: 10px; */
  letter-spacing: 5px;
}

#Sobre_nosotros {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.imagenfondo {
  background-image: url(../../../assets/img-navbar/bannerfijo.png);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#aboutUsContainer {
  max-height: none;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
}

.col-9 {
  flex: 0%;
}

.aboutUs {
  font-size: 300%;
  text-align: center;
  width: auto;
  margin: 0%;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  top: 5px;
}

.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;

}

.navbar-light .navbar-nav .active.nav-link {
  color: #c3c3c3;
  font-size: 23px;
}

.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;
}



@media (width <=980px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    position: relative;
  }
}


/* SHOP BY CATEGORIES */

header {
  padding: 30px;
}

nav li {
  display: inline
}

h1#shopbycategory {
  color: #4b4b4b;
  padding: 30px;
  font-size:65px;
}

.botoncitos {
  background: #0707078a;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 145px;
  text-align: center;
  height: 56px;
  border: slategray;
  font-size: 17px;

}

a[_ngcontent-ng-c541629009] {
  color: #4b4b4b;
}



.imagenfondo{
  background-image: url(../../../assets/bodyhome/bannerfijo.png);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.botonesmenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}




/* CARD */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;

}

.card{
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
}


.pruebaimagen{
  width: 50%;
  height: 300px;
  /* overflow:wrap; */

}

.card-content{
  padding: 16px;
}


.card-content h3{
  font-size: 28px;
  margin-bottom: 8px;

}

.card-content p{
  color: #666;
  font-size: 15px;
  line-height: 1.3;

}

.card-content .btn{
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #f0f0f0;

}


.btn:hover {
  background-color: #0056b3;
}


/* css fernando */

.itemproducto{
    padding: 15px;
    border:solid 1px #000000;
    margin-bottom: 14px;
    border-radius: 9px;
}

img.miproducto{
    width: 60px;
    height: 60px;
    border-radius: 14px;
}
.imgproduc{
    width: 59px;
}
.clsnombreprducto{
    text-align: center;
    margin-top: 5px;
    margin-bottom: -2px;
    font-weight: 600;
    font-style: italic;
}

.clsprecio{
    text-align: center;
    font-size: 23px;
    font-style: italic;
    margin-bottom: 13px;
}
