<app-navbar></app-navbar>




<header>
  <h1 id="shopbycategory">Shop by Category</h1>
</header>



<div class="botonesmenu">
  <button class="botoncitos"><a href="#">Album Cover Art </a></button>
  <button class="botoncitos"><a href="#">Collages</a></button>
  <button class="botoncitos"><a href="#">Photography</a></button>
  <button class="botoncitos"><a href="#">Scapes</a></button>

</div>
<app-notificaciones-car></app-notificaciones-car>
<div class="cardproductos">

  <div class="container ">
    <ng-container *ngFor="let item of datos">
    <div class=" row col col-sm-12 col-md-6 col-lg-4" *ngIf="item.estado == '1'">
      <div class=" card float-left overflow-hidden ">
        <img class=" border" src="{{item.imagen}}">
        <div class="card-content col-12 ">
          <h3>{{item.nombre}}</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. {{item._id}} </p>
          <p>{{item.precio | currency}}</p>
          <button  class="btn"(click)="agregaralcarrito(item)" >Comprar</button>
        </div>
      </div>
    </div>
  </ng-container>
  </div>
</div>



  <app-footer></app-footer>
