<app-navbar></app-navbar>



<header >
  <h1 id="shopbycategory">Shop by Category</h1>
</header>



<div class="botonesmenu">
    <button class="botoncitos"><a href="#">Album Cover Art </a></button>
    <button class="botoncitos"><a href="#">Collages</a></button>
    <button class="botoncitos"><a href="#">Photography</a></button>
    <button class="botoncitos"><a href="#">Scapes</a></button>

  </div>


    <div class="card-container">

    <div class=" card float-left overflow-hidden ">
    <img src="../../../assets/shop/1.jpg">
    <div class="card-content col-12 ">
      <h3>card 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <a href="" class="btn">Buy</a>
     </div>
    </div>

<div class="card float-left overflow-hidden">
        <img src="../../../assets/shop/estasi.jpg">
          <div class="card-content col-12">
            <h3>card 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="" class="btn">Buy</a>
           </div>
          </div>

      <div class="card float-left overflow-hidden">
        <img src="../../../assets/shop/11.jpg">
        <div class="card-content col-12">
          <h3>card 1</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a href="" class="btn">Buy</a>
         </div>
        </div>

        <div class="card float-left overflow-hidden">
          <img src="../../../assets/shop/13.jpg">
          <div class="card-content col-12">
            <h3>card 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="" class="btn">Buy</a>
           </div>
          </div>

          <div class="card float-left overflow-hidden">
            <img src="../../../assets/shop/14.jpg">
            <div class="card-content col-12">
              <h3>card 1</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <a href="" class="btn">Buy</a>
             </div>
            </div>

            <div class="card float-left overflow-hidden">
              <img src="../../../assets/shop/9.jpg">
              <div class="card-content col-12">
                <h3>card 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="" class="btn">Buy</a>
               </div>
              </div>

              <div class="card float-left overflow-hidden">
                <img src="../../../assets/shop/17.jpg">
                <div class="card-content col-12">
                  <h3>card 1</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a href="" class="btn">Buy</a>
                 </div>
                </div>

                <div class="card float-left overflow-hidden">
                  <img src="../../../assets/shop/15.jpg">
                  <div class="card-content col-12">
                    <h3>card 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="" class="btn">Buy</a>
                   </div>
                  </div>

                  <div class="card float-left overflow-hidden">
                    <img src="../../../assets/shop/3.jpg">
                    <div class="card-content col-12">
                      <h3>card 1</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                      <a href="" class="btn">Buy</a>
                     </div>
                    </div>

                    <div class="card float-left overflow-hidden">
                      <img src="../../../assets/shop/2.png">
                      <div class="card-content col-12">
                        <h3>card 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="" class="btn">Buy</a>
                       </div>
                      </div>

                      <div class="card float-left overflow-hidden">
                        <img src="../../../assets/shop/16.jpg">
                        <div class="card-content col-12">
                          <h3>card 1</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <a href="" class="btn">Buy</a>
                         </div>
                        </div>

                        <div class="card float-left overflow-hidden">
                          <img src="../../../assets/shop/12.jpg">
                          <div class="card-content col-12">
                            <h3>card 1</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <a href="" class="btn">Buy</a>
                           </div>
                          </div>
  </div>



<app-footer></app-footer>
