

/* img.imgprod{
  vertical-align: middle;
    width: 45px;
    margin-right: px;
    padding: 2px;
} */


/* .productos {
  padding-left: 10px;
}

.imgprod {
  width: 50px;
  margin-top: 8px;
  margin-left: calc(100% - 50px);
  margin-bottom: 8px;
  cursor: pointer;
} */

.imgdashboard {
  width: 38px;
  height: 38px;
  border: solid 0.5px;
  border-radius: 50%;
}
