<app-navbar></app-navbar>
<h2 class="titu">Inicia sesión</h2>
<p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima commodi voluptatibus non explicabo porro minus
  impedit saepe quo sed id, illum aspernatur earum iste, distinctio eveniet. Minus in delectus veritatis?</p>
  
<div class="container col col-sm-6 col-md-6 col-lg-6  border border-dark rounded mb-5 formulario">
  <div class="form-group">
    <label for="emailogin">Correo Electronico</label>
    <input type="email" class="form-control" id="emailogin" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>

  <app-footer></app-footer>

