<app-navbar></app-navbar>

<body>
<div id="milogin">


  <div class="form-group">
    <label for="email" class="form-label">Correo Electronico</label>
    <input type="email" class="form-control" [(ngModel)]="email">
  </div>

  <div class="form-group">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" [(ngModel)]="password">
  </div>
  <button type="button" class="btn btn-light" (click)="logear()">Iniciar Sesión</button>
</div>

<div class="section">
  <h2 class="section-title">WELCOME TO OUR SPACE</h2>
  <p class="section-text">Here you can explore a vast collection of artwork from talented artists from around the world, discover unique pieces to purchase and beautify your home, as well as sell your own creations.</p>
</div>

</body>

  <app-footer></app-footer>

