<app-navbar></app-navbar>
<body>



  <div id="milogin">

    <div class="form-group">
      <label for="exampleInputNombres" class="form-label">Nombres</label>
      <input type="nombres" class="form-control" id="exampleInputNombres">
    </div>


    <div class="form-group">
      <label for="exampleInputIdentificacion" class="form-label">Identificacion</label>
      <input type="identificacion" class="form-control" id="exampleInputIdentificacion">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="emailogin">Correo Electronico</label>
      <input type="email" class="form-control" id="emailogin" [(ngModel)]="emailogin">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password">


<form>
  <input type="checkbox" id="artista" name="artista" value="artista">
  <label for="vehicle1"> Voy a vender </label>
  <input type="checkbox" id="comprador" name="comprador" value="comprador">
  <label for="vehicle2"> Voy a comprar </label>
</form>

    <button type="button" class="btn btn-light">Iniciar Sesión</button>
  </div>
  <button type="submit" class="btn btn-primary" (click)="logear()">Submit</button>


  <app-footer></app-footer>

