.formulario {
  background-color: #5d4445;
  padding: 18px;
  color: white;
  justify-content: center;
  margin-bottom: 10px;
}

div#misenlaces a {
  color: whitesmoke;
}
a {
  color: whitesmoke;
}
.navbar{
  display: flex;
  justify-content:center;

}
.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;

}


.navbar-light .navbar-nav .active>.nav-link{
  color: #c3c3c3;
  font-size: 23px;
}
.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;
}

label {
  font-style: italic;
}

@media (width <= 980px){
  .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;

  }

}

@media (width <= 395px) {
  div#milogin {
      width: auto;
  }
}
button.btn.btn-light {
margin-top: 15px;}

input#comprador {
margin-left: 20px;
}

form {
  margin-top: 15px;
}


/* mascss */

h1 {
  text-align: center;
  /* margin: 20px 20px 10px; */
  font-family: ui-monospace;
  font-size: 50px;
  /* margin-bottom: -16px; */
  letter-spacing: 5px;
  padding-top: 66px;
  color: rgb(226, 223, 223);
}



div#descripcion {
  font-size: 20px;
  text-align: start;
}

p.descripcion {
  font-size: 20px;
  font-family: serif;
  text-align: justify;
  color: rgb(199, 199, 199);
  padding-top: 5%;
  /* margin-top: 20px; */
}

p.site-description.slogan.site-tagline {
  color: rgb(207, 207, 207);
  text-align: center;
  /* margin: 10px;
  margin-bottom: 10px; */
  letter-spacing: 5px;
}

.imagenfondo {
  background-image: url(../../../assets/img-navbar/bannerfijo.png);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/* NAVBAR */

#testing {
  margin-right: 0%;
  padding-right: 0%;
  padding: 0%;
}

div#footer {
  background: #353535;
  /* margin-top: 20px; */
  /* padding-top: 30px; */
  padding: 10%;
  color: #c3c3c3;
}

#containe{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-top: 10px; */

}
img.logo-footer {
  width: 140px;
  height: 140px;
  margin-left: calc(50% - 180px);

}

.mititulo {
  font-size: 22px;
  /* font-style: italic; */
  margin-bottom: 20px;
  color: white;
}

.misenlaces a {
  color: #c3c3c3;
}

div#misenlaces a {
  color: #c3c3c3;
}
div#misenlaces :hover {
  color:#3a6fda;
  font-weight: 500;
}

a {
  color: whitesmoke;
}


h1 {
  text-align: center;
  /* margin: 20px 20px 10px; */
  font-family: ui-monospace;
  font-size: 50px;
  /* margin-bottom: -16px; */
  letter-spacing: 5px;
  padding-top: 66px;
  color: rgb(226, 223, 223);
}



div#descripcion {
  font-size: 20px;
  text-align: start;
}

p.descripcion {
  font-size: 20px;
  font-family: serif;
  text-align: justify;
  color: rgb(199, 199, 199);
  padding-top: 5%;
  /* margin-top: 20px; */
}

p.site-description.slogan.site-tagline {
  color: rgb(207, 207, 207);
  text-align: center;
  /* margin: 10px;
  margin-bottom: 10px; */
  letter-spacing: 5px;
}

#Sobre_nosotros {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.imagenfondo {
  background-image: url(../../../assets/img-navbar/bannerfijo.png);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#aboutUsContainer {
  max-height: none;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
}

.col-9 {
  flex: 0%;
}

.aboutUs {
  font-size: 300%;
  text-align: center;
  width: auto;
  margin: 0%;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  top: 5px;
}

.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;

}

.navbar-light .navbar-nav .active.nav-link {
  color: #c3c3c3;
  font-size: 23px;
}

.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;
}



@media (width <=980px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    position: relative;
  }
}

/* BODY */

div#descripcion {
  font-size: 20px;
  text-align: start;
}

p.descripcion {
  font-size: 20px;
  font-family: serif;
  text-align: justify;
  color: rgb(199, 199, 199);
  padding-top: 5%;
  /* margin-top: 20px; */
}

p.site-description.slogan.site-tagline {
  color: rgb(207, 207, 207);
  text-align: center;
  /* margin: 10px;
  margin-bottom: 10px; */
  letter-spacing: 5px;
}
/* CARRUSEL */


/* BODY */

#Sobre_nosotros{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  /* margin: 20px 20px 10px; */
  font-family: ui-monospace;
  font-size: 50px;
  /* margin-bottom: -16px; */
  letter-spacing: 5px;
  padding-top: 66px;
  color: rgb(226, 223, 223);
}

.imagenfondo{
  background-image: url(../../../assets/bodyhome/bannerfijo.png);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#aboutUsContainer{
  max-height: none;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:10%;
}

.col-9{
  flex: 0%;
}

.aboutUs{
  font-size: 300%;
  text-align: center;
  width: auto;
  margin: 0%;
  padding: 0;
}

.navbar{
  display: flex;
  justify-content:center;
  top: 5px;



}
.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;

}

.navbar-light .navbar-nav .active.nav-link{
  color: #c3c3c3;
  font-size: 23px;
}
.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;
}

@media (width <= 980px){
  .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      position: relative;
  }
}


/* IMAGENES */
div#primerasimagenes {
  padding: 20px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.primerasimagenes {
  object-fit: contain;
}

/* FOOTER */

div#footer {
  background: #353535;
  /* margin-top: 20px; */
  /* padding-top: 30px; */
  padding: 10%;
  color: #c3c3c3;

}

.menu-footer li:hover {
  color:#3a6fda;
  font-weight: 500;
}

.row.caja-footer {
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -80px;
  margin-bottom: 55px;
}

.copyright-text a:hover {
  color:rgb(78, 241, 201);
}
.copyright-text {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
}

/* CSS DE TARJETAS DE PRODUCTO */
.card{
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius:40px 0px 40px 0px;
  text-align: center;
  justify-content: flex-start;

}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
}


* div#descripcion {
  font-size: 20px;
  text-align: start;

}

* p.descripcion {
  font-size: 20px;
  font-family: serif;
  text-align: justify;
  color: rgb(199, 199, 199);
  padding-top: 5%;
  /* margin-top: 20px; */

}

* p.site-description.slogan.site-tagline {
  color: rgb(207, 207, 207);
  text-align: center;
  letter-spacing: 5px;
}

* BODY */

* #Sobre_nosotros{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  /* margin: 20px 20px 10px; */
  font-family: ui-monospace;
  font-size: 50px;
  /* margin-bottom: -16px; */
  letter-spacing: 5px;
  padding-top: 66px;
  color: rgb(226, 223, 223);
}

* .imagenfondo{
  background-image: url(../../../assets/bodyhome/bannerfijo.png);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#aboutUsContainer{
  max-height: none;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:10%;


}
* div#aboutUsContainer {
  background: #00000030;
  border-radius: 40px 0px 40px 0px;
} */



.col-9{
  flex: 0%;

}

.aboutUs{
  font-size: 300%;
  text-align: center;
  width: auto;
  margin: 0%;
  padding: 0;

}

.navbar{
  display: flex;
  justify-content:center;
  top: 5px;



}
.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;

}

.navbar-light .navbar-nav .active.nav-link{
  color: #c3c3c3;
  font-size: 23px;
}
.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;
}

@media (width <= 980px){
  .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      position: relative;
  }
}


/* IMAGENES */
div#primerasimagenes {
  padding: 20px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.primerasimagenes {
  object-fit: contain;
}


