div#miregistro {
  background: #353535;
  width: 400px;
  margin-left: calc(50% - 180px);
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
  color: white;
  margin-bottom: 10px;
  max-width: 100%;
}
div#misenlaces a {
  color: whitesmoke;
}
a {
  color: whitesmoke;
}

button.btn.btn-light {
  margin-top: 15px;
}

.navbar{
  display: flex;
  justify-content:center;

}
.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;

}


.navbar-light .navbar-nav .active>.nav-link{
  color: #c3c3c3;
  font-size: 23px;
}
.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;
}

label {
  font-style: italic;
}

@media (width <= 980px){
  .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;

  }
}

/* mascss */

h1 {
  text-align: center;
  /* margin: 20px 20px 10px; */
  font-family: ui-monospace;
  font-size: 50px;
  /* margin-bottom: -16px; */
  letter-spacing: 5px;
  padding-top: 66px;
  color: rgb(226, 223, 223);
}



div#descripcion {
  font-size: 20px;
  text-align: start;
}

p.descripcion {
  font-size: 20px;
  font-family: serif;
  text-align: justify;
  color: rgb(199, 199, 199);
  padding-top: 5%;
  /* margin-top: 20px; */
}

p.site-description.slogan.site-tagline {
  color: rgb(207, 207, 207);
  text-align: center;
  /* margin: 10px;
  margin-bottom: 10px; */
  letter-spacing: 5px;
}

.imagenfondo {
  background-image: url(../../../assets/img-navbar/bannerfijo.png);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
