<app-navbar></app-navbar>

  <div id="miregistro">
    <div class="form-group">
      <label for="nombre" class="form-label">Nombres</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre">
    </div>

    <div class="form-group">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input type="text" class="form-control" id="apellidos" [(ngModel)]="apellidos"  >
    </div>

    <div class="form-group">
      <label for="email" class="form-label">Correo Electronico</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="email">
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password">
    </div>

    <div class="form-group">
      <label for="telefono" class="form-label">Telefono</label>
      <input type="text" class="form-control" id="telefono" [(ngModel)]="telefono">
    </div>

    <button type="button" class="btn btn-light" (click)="Registrar()" >Registrarme</button>
  </div>




<app-footer></app-footer>
