.formulario {
  background-color: #5d4445;
  padding: 18px;
  color: white;
  font-weight: 700;
  -webkit-box-shadow: 3px 5px 20px 8px rgba(108,89,84,1);
-moz-box-shadow: 3px 5px 20px 8px rgba(108,89,84,1);
box-shadow: 3px 5px 20px 8px rgba(108,89,84,1);

}