<app-navbar></app-navbar>



<ul class="nav nav-tabs justify-content-center nav-pills nav-fill flex-column flex-sm-row">

  <li class="nav-item">
    <a class="colorfuente nav-link" routerLink="/gallery">Album cover Art</a>
  </li>
  <li class="nav-item">
    <a class="colorfuente nav-link" routerLink="/collages">Collages</a>
  </li>
  <li class="nav-item">
    <a class="colorfuente nav-link active" routerLink="/photography">Photography</a>
  <li class="nav-item">
    <a class="colorfuente nav-link" routerLink="/scapes">Scapes</a>
  </li>


</ul>


<div class="contenedorphoto">

  <figure class="figure container-fluid">
    <img src="../../../assets/photography/IMG_20230801_075342_708.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-center">1</figcaption>
  </figure>

  <figure class="figure container-fluid">
    <img src="../../../assets/photography/estasi.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-center">2</figcaption>
  </figure>

  <figure class="figure container-fluid">
    <img src="../../../assets/photography/IMG_20231207_191721_002.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-center">3</figcaption>
  </figure>

  <figure class="figure container-fluid">
    <img src="../../../assets/photography/IMG_20230218_125405_129.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-center">4</figcaption>
  </figure>

</div>







<app-footer></app-footer>
