



.ajustenav {
  margin-top: -5px;
}

.ventana {
  background-color: #575452;
  height: 45px;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  margin-left: 240px;
  width: calc(100% - 240px);
  font-size: 25px;
  font-style: italic;

  color: white;
}

.productos {
  padding-left: 10px;
}
.imgprod {
  width: 50px;
  margin-top: 8px;
  margin-left: calc(100% - 50px);
  margin-bottom: 8px;
  cursor: pointer;
}

.imgvent {
  width: 40px;
  cursor: pointer;
}





#testing {
  margin-right: 0%;
  padding-right: 0%;
  padding: 0%;
}




div#footer {
  background: #353535;
  padding: 10%;
  color: #c3c3c3;
}

#container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}
img.logo-footer {
  width: 140px;
  height: 140px;
  margin-left: calc(50% - 180px);

}

.mititulo {
  font-size: 22px;
  margin-bottom: 20px;
  color: white;
}

.misenlaces a {
  color: #c3c3c3;
}

div#misenlaces a {
  color: #c3c3c3;
}
div#misenlaces :hover {
  color:#3a6fda;
  font-weight: 500;
}

a {
  color: whitesmoke;
}





div#descripcion {
  font-size: 20px;
  text-align: start;
}

p.descripcion {
  font-size: 20px;
  font-family: serif;
  text-align: justify;
  color: rgb(199, 199, 199);
  padding-top: 5%;

}

p.site-description.slogan.site-tagline {
  color: rgb(207, 207, 207);
  text-align: center;
  letter-spacing: 5px;
}






#Sobre_nosotros{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-family: ui-monospace;
  font-size: 50px;
  letter-spacing: 5px;
  padding-top: 66px;
  color: rgb(226, 223, 223);
}

/* .imagenfondo{
  background-image: url(../../../assets/bodyhome/bannerfijo.png);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: auto;
  background-size: cover;
} */

#aboutUsContainer{
  max-height: none;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:10%;
}

.col-9{
  flex: 0%;
}

.aboutUs{
  font-size: 300%;
  text-align: center;
  width: auto;
  margin: 0%;
  padding: 0;
}

.navbar{
  display: flex;
  justify-content:center;
  top: 5px;



}
.navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;
}

.navbar-light .navbar-nav .active.nav-link{
  color: #c3c3c3;
  font-size: 23px;
}
.navbar-light .navbar-nav .nav-link {
  color: #c3c3c3;
  font-size: 23px;
}

@media (width <= 980px){
  .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      position: relative;
  }
}






div#footer {
  background: #353535;
  padding: 10%;
  color: #c3c3c3;

}

.menu-footer li:hover {
  color:#3a6fda;
  font-weight: 500;
}

.row.caja-footer {
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -80px;
  margin-bottom: 55px;
}

.copyright-text a:hover {
  color:rgb(78, 241, 201);
}
.copyright-text {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
}





