/* You can add global styles to this file, and also import other style files */
body {
  /* background: rgb(158, 32, 148); */
  background: linear-gradient(180deg, rgba(187, 187, 185, 0.4) 0%, rgba(223, 220, 230, 0.3) 49%, rgba(214, 214, 214, 0.2) 100%);

}

#footer {
  background: #353535;
  padding: 10%;
  color: #c3c3c3;
}

.ajustenav {
  margin-top: -5px;
}

.ventana {
  background-color: #575452;
  height: 45px;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  margin-left: 240px;
  width: calc(100% - 240px);
  font-size: 25px;
  font-style: italic;

  color: white;
  /* overflow: auto; */
}
.productos {
  padding-left: 10px;
}
.imgprod {
  width: 50px;
  margin-top: 8px;
  margin-left: calc(100% - 50px);
  margin-bottom: 8px;
  cursor: pointer;
}

.imgvent {
  width: 40px;
  cursor: pointer;
}
