<div id="superior"></div>
<div class="menuDash">
    <div>
        <div ><img class="imgdash" src="/assets/usuario.png" alt="imagen trabajador" ></div>
        <div class="nombre">Nombre de usuario</div>
        <div class="rol">Rol de usuario </div>
    </div>
    <div class="item ">
        <div class="itemmenu border-bottom" routerLink=""> <img class="imgperf "src="/assets/ajuste_perfil.png" alt="ajuste perfil">Perfil</div>
        <div class="itemmenu border-bottom" routerLink="/usuarios"> <img class="imgperf "src="/assets/usuarios.png"> Usuarios</div>
        <div class="itemmenu border-bottom" routerLink="/categorias"> <img class="imgperf "src="/assets/categorias.png"> Categorias</div>
        <div class="itemmenu border-bottom" routerLink="/productos"> <img class="imgperf "src="/assets/galeria.png"> Productos</div>
        <div class="itemmenu border-bottom" routerLink="/login"> <img class="imgperf "src="/assets/salir.png"> Salir</div>
    </div>
</div>
