.menuDash {
    background: rgb(0, 0, 0);
    /* background: linear-gradient(rgb(0, 0, 0), rgb(2, 2, 2), rgb(90, 90, 88), rgb(97, 97, 97), rgb(126, 126, 126));; */
    background: linear-gradient(rgb(66, 66, 66), rgb(161, 161, 161), rgb(160, 160, 160), rgb(161, 161, 161), rgb(126, 126, 126));
    ;

    /* background: linear-gradient(180deg, rgba(3, 14, 0, 1) 0%, rgba(38, 59, 51, 1) 49%, rgba(156, 132, 119, 1) 100%); */
    width: 240px;
    height: calc(100vh - 39px);
    font-style: oblique;
    font-weight: 500;
    border-radius: 0px 0px 20px;
    border: solid 1px;
    border-color: rgb(114, 114, 114);
    overflow: auto;
    float: left;
}

#superior {
    background: rgb(0, 0, 0);
    height: 25px;
    border: solid 1px;
}

.imgdash {
    background: white;
    border-radius: 50%;
    width: 69%;
    padding: 1%;
    padding-bottom: 3px;
    margin: 15px 0px 0px 37px;
}

.nombre {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 20px;
    color: white;
}

.rol {
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 6px;
    font-size: 18px;
    color: white;
}

.itemmenu {
    height: 51px;
    padding-left: 5px;
    margin-top: 8px;
    padding-top: 1px;
    transition: 0.5s ease-in-out;
    color: white;
    font-size: 16px;
    font-style: normal;
}

img.imgperf {
    vertical-align: middle;
    width: 35px;
    margin-right: 5px;
}

.itemmenu:hover {
    margin-left: 20px;
}