

<div id="superior"></div>
<div class="menuDash">
    <div>
        <div ><img class="imgdash" src="Http://localhost:3000/ImagenesAvatar/{{_id}}.png" alt="imagen trabajador" ></div>
        <div class="nombre">{{nombre}}</div>
        <div>
            <div class="rol" *ngIf="rol == '1'">Administrador</div>
            <div  class="rol"*ngIf="rol == '2'">cliente</div>
        </div>
    </div>
    <div class="item ">
        <div class="itemmenu border-bottom" routerLink="/perfil"> <img class="imgperf "src="assets/profile_162855.png">Perfil</div>
        <div class="itemmenu border-bottom" routerLink="/usuarios" *ngIf="rol == '1'"> <img class="imgperf "src="../../../assets/people_8364996.png"> Usuarios</div>
        <div class="itemmenu border-bottom" routerLink="/categorias" *ngIf="rol == '1'"> <img class="imgperf "src="../../../assets/catcat (2).png"> Categorias</div>
        <div class="itemmenu border-bottom" routerLink="/productos" *ngIf="rol == '1'"> <img class="imgperf "src="../../../assets/prodprod.png"> Productos</div>
        <div class="itemmenu border-bottom" (click)="CerrarSession()"> <img class="imgperf "src="../../../assets/exit_149407.png"> Salir</div>
    </div>
</div>

